section.map
  .map_select_container
    .container
      .map__window(data-aos="fade-right" data-aos-delay="400")
        .mappoint(data-point='shopping')
          div.svg-img
            include ../../img/gmap/shopping.svg
          span Shopping
        .mappoint(data-point='dining')
          div.svg-img
            include ../../img/gmap/dining.svg
          span Dining
        .mappoint(data-point='parks')
          div.svg-img
            include ../../img/gmap/parks.svg
          span Parks
        .mappoint(data-point='entertainment')
          div.svg-img
            include ../../img/gmap/entertainment.svg
          span Entertainment
        .mappoint(data-point='spa')
          div.svg-img
            include ../../img/gmap/spa.svg
          span Spa
  #gmap
