.social
  a.social__icon.social__icon-tw(href="/" data-aos="zoom-in" data-aos-delay="100")
    img(src="./img/soc/twitter.svg")
  a.social__icon.social__icon-fb(href="/" data-aos="zoom-in" data-aos-delay="200")
    img(src="./img/soc/facebook.svg")
  a.social__icon.social__icon-insta(href="/" data-aos="zoom-in" data-aos-delay="300")
    img(src="./img/soc/instagram.svg")
