nav(aria-label="breadcrumb")
  ol.breadcrumb
    li.breadcrumb-item
      a(href="#")
        i.fa.fa-home
        span Гланая
    li.breadcrumb-item
      a(href="#") Уровень выше
    li.breadcrumb-item.active(aria-current="page")= title
