ul.col {
  width: 100%;
  margin-right: 40px;
  a {
    display: block;
    &.hasChild {cursor: pointer;}
  }
}

.nav__alt {
  a {
    color: #fff;
    font-size: 18px;
    font-family: Arapey;
    line-height: 28px;
    text-decoration: none;
    font-style: italic;
    &:hover { color: $yellow; }
  }
}
.nav__main {
  position: relative;
  margin: 10px 0;
  // width: 100%;
  a {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: $roboto;
    line-height: 34px;
    text-decoration: none;

    &:hover { color: $yellow; }
    &.current {
      color: $yellow;
      & + .nav__main-sub {
        padding: 20px 10px 50px 30px;
        max-height: 300px;
        position: relative;
        visibility: visible;
        transition: 0.8s linear;
        li {position: relative; opacity: 1; transition: opacity 0.8s; transform: translateY(0);}
      }
    }
  }
  &-sub {
    padding: 0px 10px 0px 30px;
    max-height: 0;
    list-style: disc; color: #fff; font-size: 10px;
    position: relative;
    visibility: hidden;
    overflow: hidden;
    transition: 0.1s linear;
    li {position: absolute; opacity: 0; transition: opacity 0.1s, transform 1s $anim; transform: translateY(-100%);}
    a {
      padding-left: 10px;
      color: #fff;
      font-size: 18px;
      font-family: Arapey;
      line-height: 28px;
      text-decoration: none;
      font-style: italic;
    }
  }
}

// .nav__main {order: 2;}
// .nav__alt:first-child {order: 1;}
// .nav__alt:last-child {order: 3;}
