header.header: .container
  .navbar
    include ../elements/_el_logo.pug

    nav.navbar-collapse.burger-el
      ul.navbar-nav
        li.nav-item
          a.nav-link(data-href="#about" data-aos="fade-left" data-aos-delay="1400" data-aos-duration="1400") About
        li.nav-item
          a.nav-link(href="/" data-aos="fade-left" data-aos-delay="1100" data-aos-duration="1400") Join app
        li.nav-item
          a.nav-link(href="/" data-aos="fade-left" data-aos-delay="900" data-aos-duration="1400") One pager
        li.nav-item
          a.nav-link(data-href="#contacts" data-aos="fade-left" data-aos-delay="600" data-aos-duration="1400") Contacts

      .logo-icon-block(data-aos="fade-left" data-aos-delay="300" data-aos-duration="1400") 
        .logo-icon.left
          include ../../img/logo-icon-left.svg

    include ../elements/_hamburger.pug

