footer.footer: .container
  .navbar
    include ../elements/_el_logo.pug

    nav.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(data-href="#about") About
        li.nav-item
          a.nav-link(href="/") Join app
        li.nav-item
          a.nav-link(href="/") One pager
        li.nav-item
          a.nav-link(data-href="#contacts") Contacts
        

  p Copyright © 2020 KUSMIS

