script(src='//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')

//- Botstrap jQuery
//- script(src="//code.jquery.com/jquery-3.1.1.slim.min.js", integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n", crossorigin="anonymous")

//- Bootstrap JavaScript
//- script(src="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")

//- Bootstrap BUNDLE JavaScript
//- script(src="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js", integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm", crossorigin="anonymous")


//- script(src="//unpkg.com/swiper/js/swiper.min.js")
//- script(src="//cdn.jsdelivr.net/npm/flatpickr")
script(src="//unpkg.com/aos@next/dist/aos.js")

//- script(src="//maps.google.com/maps/api/js?key=AIzaSyBjpeM1M3LZuC__3BzqUKLNfmy15HEsuSI")

//- if(pagetype == 'index')
script(src="./js/points.babel.min.js")
script(src="./js/main.babel.min.js")
