// HEADER
.header {
  padding: 20px 0; width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
  z-index: 200;
}

.header {
  width: 100%;
  
  a {
    font-family: $font--soirce-code;
    color: $brand-primary;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1.5rem;

    @media (max-width: 1020px) {
      font-size: 18px;
    }
  }
}

@media (max-width: 500px){
  .header {
    padding: 8px 0;
    .logo img {height: 40px;}
  }
}
